@import 'mixins';

.header {
  @include header-padding;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  background: white;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid white;

  @media only screen and (max-height: 750px) {
    height: 100px;
  }

  &--small {
    height: 50px;

    &.header--scrolled {
      border-bottom: 2px solid $light-grey;
    }
  }

  &--small &__title > .text {
    font-size: 15px !important;
  }

  &--small &__title {
    &__number {
      width: 25px;
      height: 25px;
      min-width: 25px;
      margin-right: 10px;

      > .text {
        font-size: 13px;
      }
    }
  }

  .avatar {
    transition: all 0.2s ease-in-out;
    margin-left: auto;

    @media only screen and (max-width: 1000px) {
      height: 40px;
      width: 40px;
      margin-left: 10px;
    }
  }

  &--small .avatar {
    width: 30px !important;
    height: 30px !important;
  }

  &--small {
    .playlist__progress__text {
      opacity: 0;
    }
  }

  .szh-menu {
    transform: translateX(-20px);
  }

  > svg {
    height: 50%;
    width: auto;
    max-height: 80px;
  }

  &__title {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 1000px) {
      position: relative;
      left: unset;
      transform: unset;
    }

    > .text {
      transition: font-size 0.2s ease-in-out;
    }

    &__number {
      margin-right: 20px;
      background: $text;
      border-radius: 50%;
      width: 40px;
      min-width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      > .text {
        transition: font-size 0.2s ease-in-out;
      }
    }
  }
}