@import 'vars';

.pagination {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;

  @media only screen and (max-width: $mobile-width) {
    flex: unset;
    width: 100%;
    justify-content: flex-start;
  }

  &__numbers {
    max-width: calc(100% - 100px);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(15px, 20px));
    grid-auto-rows: auto;
  }

  &__number {
    text-align: center;
    color: $text !important;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.1s ease-in-out;
    will-change: auto;
    width: 15px;
    line-height: 14px;

    &:focus {
      text-decoration: none;
    }

    &:hover {
      color: $text !important;
      text-decoration: underline;
    }

    &--current {
      font-weight: 800;
      pointer-events: none;
      transform: scale(1.2);
      padding: 0;
    }
  }
}