@import 'mixins';
@import 'vars';

$small-rows: 1030px;

.playlist {
  @include app-padding;

  display: flex;
  flex-direction: column;
  flex: 1;

  @media only screen and (max-width: $mobile-width) {
    .pagination {
      width: 100vw;
      margin-left: -20px;
    }
  }

  &__settings {
    margin-top: 30px;
    margin-bottom: 30px;

    @media only screen and (max-width: $mobile-width) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__songs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $mobile-width) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px !important;

      > h2 {
        margin-bottom: 20px;
      }
    }
  }

  &__name {
    > input {
      border: 0;
      border-bottom: 2px dashed $dark-grey;
      padding-bottom: 5px;
      font-weight: 500;

      &:focus,
      &:hover {
        border-bottom-color: $text;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 40px;
    padding-bottom: 20px;

    @media only screen and (max-width: $mobile-width) {
      padding-top: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 70px;

    &--scrolled {
      &::before {
        content: '';
        width: 100vw;
        height: 2px;
        background: $light-grey;
        position: fixed;
        left: 0;
        bottom: 70px;

        @media only screen and (max-width: $mobile-width) {
          bottom: 132px;
        }
      }
    }

    @media only screen and (max-width: $mobile-width) {
      height: 132px;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: -20px;
    }

    &__link {
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $mobile-width) {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      > .icon {
        margin-top: 2px;
        margin-left: 10px;
      }
    }

    > div {
      display: flex;
      align-items: center;
      margin-left: auto;

      @media only screen and (max-width: $mobile-width) {
        width: 100%;
        margin-left: unset;
        justify-content: center;

        > .button {
          min-width: 0 !important;
        }
      }

      > .button:first-of-type {
        margin-right: 20px;
      }
    }

    @media only screen and (max-width: $mobile-width) {
      flex-direction: column;
      margin-left: unset;
      margin-top: 20px !important;

      > .button {
        width: 100%;

        &:first-of-type {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__progress {
    height: 2px;
    width: 100vw;
    background: $light-grey;
    position: absolute;
    bottom: -2px;
    left: 0;
    display: flex;
    align-items: center;
    overflow: visible;
    z-index: 2;

    &__bar {
      display: block;
      height: 100%;
      background: $primary;
      transition: all 0.2s ease-in-out;
    }

    &__text {
      @include app-padding-r(true, 'margin');
      background: white;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      width: fit-content;
      right: -5px;
      position: absolute;
      font-weight: 600;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    height: 140px;
    min-height: 140px;
    padding: 20px;
    background: $light-grey;
    border-radius: 8px;
    transition: background 0.1s ease-in-out;
    border: 2px solid $light-grey;

    &--error {
      padding-right: 10px;

      @media only screen and (max-width: $small-rows) {
        padding-bottom: 60px;
      }
    }

    > .button {
      margin-left: 10px;

      @media only screen and (max-width: $small-rows) {
        margin-left: 0;
        width: 100%;
        margin-top: 30px;
        max-width: 400px;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;

      @media only screen and (max-width: $small-rows) {
        margin-bottom: 50px;
      }
    }

    @media only screen and (max-width: $small-rows) {
      flex-direction: column;
      height: unset;
      padding: 30px;
      width: 100%;
    }

    @media only screen and (max-width: $mobile-width) {
      padding: 20px;
    }

    &--disabled {
      background: none;
    }

    &--loading {
      background: none;
      border-color: transparent;

      @media only screen and (max-width: $small-rows) {
        border-color: $light-grey;
      }
    }

    &--empty:not(&--error) {
      @media only screen and (max-width: $mobile-width) {
        padding-bottom: 40px;
      }
    }

    &--empty {
      background: none;
      border-color: transparent;

      @media only screen and (max-width: $small-rows) {
        border-color: $light-grey;
      }

      > *:not(.button):not(.playlist__row__track) {
        opacity: 0.6;
      }
    }

    &__checkbox {
      @media only screen and (max-width: $small-rows) {
        margin: -15px -15px 10px auto;
      }

      @media only screen and (max-width: $mobile-width) {
        margin: -5px -5px 10px auto;
      }
    }

    &__nav {
      display: flex;
      align-items: center;

      > *:first-child:not(:last-child) {
        margin-right: 10px;
      }

      @media only screen and (max-width: $small-rows) {
        margin-top: 10px;
        margin-left: auto !important;
        margin-bottom: -20px;
        margin-right: -25px;

        > *:first-child:not(:last-child) {
          margin-right: 0;
        }
      }

      @media only screen and (max-width: $mobile-width) {
        margin-bottom: -10px;
        margin-right: -15px;
      }
    }

    &__arrow {
      margin-left: 70px;
      margin-right: 70px;

      > .icon {
        color: $dark-grey !important;
      }

      @media only screen and (max-width: 1250px) {
        margin-left: 50px;
        margin-right: 50px;
      }

      @media only screen and (max-width: 1150px) {
        margin-left: 30px;
        margin-right: 30px;
      }

      @media only screen and (max-width: $small-rows) {
        margin: 30px 0;
        width: 100%;
        display: flex;
        align-items: center;

        > .icon {
          margin-left: 20px;
          margin-right: 20px;
        }

        &::before,
        &::after {
          content: '';
          display: block;
          height: 2px;
          background: $mid-grey;
          width: 100%;
        }
      }
    }

    &__track {
      display: flex;
      align-items: center;

      &--fade &__art,
      &--fade &__content > *:not(.no-fade) {
        opacity: 0.6;
      }

      @media only screen and (max-width: $small-rows) {
        width: 100%;
      }

      &__content {
        width: 300px;

        @media only screen and (max-width: 1200px) {
          width: 250px;
        }

        @media only screen and (max-width: 1100px) {
          width: 200px;
        }

        @media only screen and (max-width: $small-rows) {
          width: calc(100% - 100px);
        }

        @media only screen and (max-width: $mobile-width) {
          width: calc(100% - 60px);
        }

        @media only screen and (max-width: 400px) {
          width: calc(100% - 45px);
        }

        &__name {
          display: flex;
          align-items: center;

          > .icon {
            margin-left: 10px;
            color: $dark-grey !important;
          }
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0;
        }

        > p:not(:only-child) {
          font-size: 13px;
          margin-top: 5px;
        }
      }

      &__art {
        user-select: none;
        height: 80px;
        width: 80px;
        min-height: 80px;
        min-width: 80px;
        border-radius: 50%;
        background: $mid-grey;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;

        @media only screen and (max-width: $mobile-width) {
          height: 50px;
          width: 50px;
          min-height: 50px;
          min-width: 50px;
        }

        @media only screen and (max-width: 400px) {
          height: 30px;
          width: 30px;
          min-height: 30px;
          min-width: 30px;

          .icon {
            font-size: 12px !important;
          }
        }

        @media only screen and (max-width: $small-rows) {
          margin-right: 15px;
        }

        &__audio {
          position: absolute;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;

          > .icon {
            @include scale-hover;
          }
        }

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}