// Colours
$primary: #00BD85;
$secondary: #E7E9EB;

$yellow: #F4C51B;

$danger: #FF453A;
$success: #33C759;

$text: #112035;

$light-grey: #F4F4F4;
$mid-grey: #E0E0E0;
$dark-grey: #BBBBBB;


// Sizes
$mobile-width: 700px;
$large-width: 1600px;