@import 'vars';

.home {
  background: $primary;
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;

  @media only screen and (max-width: 1000px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media only screen and (max-width: $mobile-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;

    @media only screen and (max-width: $mobile-width) {
      align-items: center;
      text-align: center;

      > h2.text {
        margin-top: 30px;
      }
    }

    > svg:not(:first-child) {
      height: 100vh;
      min-height: 750px;

      @media only screen and (max-width: 1050px) {
        .circles {
          &__top-left {
            cy: 0;
          }

          &__top-right {
            cx: 950;
          }

          &__bottom-left {
            cy: 600
          }
        }
      }

      @media only screen and (max-height: 700px) {
        .circles {
          &__top-left {
            cy: -150;
          }
        }
      }

      @media only screen and (max-height: 600px) {
        .circles {
          &__top-left,
          &__bottom-left {
           display: none;
          }
        }
      }

      @media only screen and (max-width: 700px) {
        display: none;
      }
    }

    &__connect {
      display: flex;
      align-items: center;

      > a {
        margin-left: 20px;
        cursor: pointer;
      }

      @media only screen and (max-width: $mobile-width) {
        flex-direction: column;
        justify-content: center;
        width: 100%;

        > .button {
          width: 100%;
          margin-bottom: 10px;
        }

        > a {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }

    &__logo {
      height: 75px;
      width: auto;

      @media only screen and (max-width: $mobile-width) {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
      }
    }

    > h1.text {
      font-size: 70px;
      margin-bottom: 0;
      max-width: 850px;

      @media only screen and (max-height: 1000px) and (min-width: 1101px){
        font-size: 50px;
      }

      @media only screen and (max-width: 1100px) {
        font-size: 40px;
        max-width: 700px;
      }


      @media only screen and (max-width: $mobile-width) {
        font-size: 30px;
        max-width: 500px;
      }
    }

    &__circles {
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  &__getting-started {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    &__title {
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 18px !important;
      margin-bottom: 100px;
      max-width: 600px;
      //opacity: 0.6;
      font-weight: 400;

      @media only screen and (max-width: $mobile-width) {
        margin-bottom: 60px;
        font-size: 15px !important;
      }
    }

    @media only screen and (max-width: $mobile-width) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__block {
      max-width: 350px;
      text-align: center;
      flex: 1;

      &:not(:last-of-type) {
        margin-right: 20px;
      }

      @media only screen and (max-width: 800px) {
        margin-left: auto;
        margin-right: auto;
      }

      > .text {
        font-size: 18px !important;

        @media
        only screen and (max-width: 1050px) and (min-width: 800px),
        only screen and (max-width: $mobile-width) {
          font-size: 15px !important;
          margin-top: 0;
        }
      }

      &__header {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 30px;

        @media
        only screen and (max-width: 1050px) and (min-width: 800px),
        only screen and (max-width: $mobile-width) {
          > .text {
            font-size: 18px;
          }
        }

        @media
        only screen and (max-width: 950px) and (min-width: 800px),
        only screen and (max-width: $mobile-width) {
          margin-bottom: 10px;
        }
      }

      &__number {
        background: white;
        font-weight: 800;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        min-width: 50px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        color: $text;

        @media only screen and (max-width: 1050px) {
          height: 40px;
          width: 40px;
          min-height: 40px;
          min-width: 40px;
          font-size: 25px;
        }

        @media
        only screen and (max-width: 950px) and (min-width: 800px),
        only screen and (max-width: $mobile-width) {
          height: 30px;
          width: 30px;
          min-height: 30px;
          min-width: 30px;
          font-size: 20px;
        }
      }
    }

    &__container {
      display: flex;
      justify-content: space-evenly;
      max-width: 1500px;

      @media only screen and (max-width: 800px) {
        flex-direction: column;

        > *:not(:last-child) {
          margin-bottom: 60px;
        }
      }
    }
  }

  &__learn-more {
    &__waves {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;

      > path {
        fill: $text;
      }
    }
  }
}