.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  &__search {
    width: 100vw;
    max-width: 1000px;
  }

  &__remix {
    width: 100%;

    &__row {
      display: flex;
      width: 50%;
      align-items: center;
      margin-bottom: 40px;

      &__track {
        width: 50%;
      }
    }
  }
}